.footer
    background-color: $black
    background-image: url('/assets/img/footer-bg.jpg')
    background-position: top center
    background-size: cover
    color: $lightGray
    font-size: 14px
    font-weight: 400
    line-height: 18px
    padding: 48px 0 27px
    width: 100%
    z-index: 0

    &__inner
        box-sizing: content-box
        padding: 0 34px

    &__logo
        centeredBlock()
        display: block
        spaced(44px)
        width: 257px

    &__links
        display: flex
        spaced(40px)

    &__list
        list-style: none
        flex-grow: 1

        &:first-child
            margin-right: 48px

        &.-social
            flex-grow: 2

            & ^[0]__list-item
                &:first-child
                    & ^[0]__link
                        padding-top: 8px

                        &:before
                            top: 9px

            & ^[0]__link
                font-size: 12px
                line-height: 17px
                padding: 15.6px 0
                padding-left: 37px

        &.-fine
            display: flex

            & ^[0]__link
                &:hover
                    color: mix($lightGray, $white, 65%)

            & ^[0]__link
                color: $lightGray
                font-family: $baseFont
                font-size: 15px
                letter-spacing: 0
                line-height: 20px
                margin-right: 26px
                text-transform: none

    &__link
        color: $white
        display: block
        font-family: $fontOswald
        font-size: 13px
        letter-spacing: 1.5px
        line-height: 20px
        padding: 8px 0
        position: relative
        text-transform: uppercase

        &:hover
            color: mix($white, $black, 85%)
            text-decoration: none

        &.-facebook,
        &.-twitter,
        &.-instagram,
        &.-pinterest
            &:hover
                &:before
                    color: mix($primary, $black, 90%)

            &:before
                color: $primary
                font-size: 24px
                left: 0
                position: absolute
                top: 17px

        &.-facebook
            &:before
                icon($iconFacebook)

        &.-twitter
            &:before
                icon($iconTwitter)

        &.-instagram
            &:before
                icon($iconInstagram)

        &.-pinterest
            &:before
                icon($iconPinterest)

    &__message
        spaced(37px)

@media $desktop1
    .footer
        bottom: 0
        position: fixed
        padding: 112px 0 24px

        &__inner
            margin-left: auto
            margin-right: auto
            max-width: 1440px
            padding: 0 59px

        &__logo
            align-self: flex-start
            margin: 0 auto 5.6rem
            padding-top: 0
            width: 280px

        &__links
            display: block
            flex-grow: 3
            margin: 0 0
            max-width: none
            spaced(90px)

        &__list
            centeredBlock(50rem)
            spaced(69px)
            column-count: 3
            margin-top: 3.4rem
            width: 100%

            &:first-child
                margin: 0 auto 3rem

            &.-social
                column-count: unset
                display: flex;
                flex-grow: 1
                flex-wrap: wrap
                height: 48px
                max-width: 51rem
                spaced(0)

                & ^[0]__list-item
                    width: auto

                    &:first-child
                        & ^[0]__link
                            padding-top: 15.6px

                            &:before
                                top: 17px

                & ^[0]__link
                    font-weight: 400
                    margin-right: 32px
                    trBase()

            &.-fine
                column-count: unset
                spaced(0)
                width: auto
                margin: 0
                flex-direction: row;
                justify-content: flex-end;

        &__list-item
            text-align: center
            &--translator
                padding: 0.8rem 0

        &__link
            font-weight: 500
            padding: 8px 0
            trBase()

        &__fine-print
            align-items: flex-end
            display: flex;
            justify-content: space-between

        &__message
            spaced(0)
            width: 59%

@media $desktop2
    .footer
        &__logo
            margin: 0 185px 0 80px
        &__inner
            display: flex
            flex-wrap: wrap
        &__list
            margin-top: 0
            max-width: none
            &:first-child
                margin-bottom: 69px
        &__list-item
            text-align: left
        &__link
        	margin-right: 0
        &__list.-social
            max-width: none
        &__list.-social .footer__link
            margin-right: 5rem


@media screen and (max-width: 768px)
    .desktop-footer
        display: none




