.u-confirmation
	centeredBlock(75rem)
	background: $darkGray
	padding: 6rem 0
	text-align: center
	&__heading
		display: block
		font-family: $fontOswald
		font-size: 3.2rem
		line-height: 4.7rem
		letter-spacing: 2.5px
		color: #FCFBFA
		margin-bottom: 2.5rem
		text-transform: uppercase
	&__text
		display: block
		margin-bottom: 4.6rem
		color: #8C908E
		font-size: 1.8rem
		line-height: 2.8rem
		letter-spacing: 0.3px
	&__numbers
		centeredBlock(42rem)
		border-bottom: 1px solid #151917
		border-top: 1px solid #151917
		font-family: $fontOswald
		font-size: 2rem
		line-height: 3rem
		margin-bottom: 3.8rem
		padding: 2.6rem 0
		text-transform: uppercase
		span
			display: block
