.viewport
    position: relative
    overflow: hidden

.viewport-instructions
    color: $lighterSecondary
    font: 1.1rem/1.5em $fontOswald
    left: 2.6rem
    letter-spacing: 1.5px
    padding-left: 4.3rem
    position: absolute
    text-transform: uppercase
    bottom: 10rem
    userSelect()
    z-index: 2

    &:before
        color: $white
        font-size: 3.2rem
        font-weight: 400
        icon($iconSwipe)
        left: 0
        margin-right: 1.5rem
        position: absolute
        top: 50%
        transform: translateY(-50%)

    &__mobile
        display: block

    &__desktop
        display: none

.viewport-button
    buttonReset()
    display: none
    height: 6.4rem
    left: 0
    position: absolute
    top: 50%
    transform: translateY(-50%)
    width: 6.1rem
    z-index: 2

    &:before,
    &:after
        left: 0
        position: absolute
        top: 50%

    &:before
        border-color: transparent transparent transparent $lighterSecondary
        border-style: solid
        border-width: 32px 0 32px 61px
        content: ''
        height: 0
        transform: rotate(360deg) translateY(-50%)
        width: 0
        z-index: -1

    &:after
        color: $primary
        font-size: 2.8rem
        icon($iconArrow)
        margin-left: 0.1rem
        transform: rotate(90deg) translateX(-50%)

    &.-right
        &,
        &:before,
        &:after
            left: auto
            right: 0

        &:before
            border-color: transparent $lighterSecondary transparent transparent
            border-width: 32px 61px 32px 0

        &:after
            margin-left: auto
            margin-right: 0.1rem
            transform: rotate(-90deg) translateX(50%)

.image-maps
    height: calc(100vh - 9.3rem)
    position: relative
    userSelect()
    z-index: 1

    &__map
        height: 100%
        left: 0
        position: absolute
        top: 0
        width: 100%
        z-index: 1

        &.-active
            z-index: 2

    &__map-inner
        height: 100%
        left: 0
        position: absolute
        transform: translateX(0)
        background-color: #000

.image-hotspots
    height: 100%
    left: 0
    position: absolute
    top: 0
    width: 100%

.image-hotspot
    position: absolute

    &__icon
        cursor: pointer
        display: block
        filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.3))
        height: 3.1rem
        left: -1.35rem
        position: absolute
        top: -1.35rem
        width: 3.1rem

        &:hover
            transform: scale(1.2)

            & ^[0]__fill
                fill: $primary

            & ^[0]__plus
                fill: $white

    &__big
        cursor: pointer
        display: inline-block
        left: 30%
        position: absolute
        top: 50%
        transform: scale(1) translate(-69%, -50%)
        transform-origin: 0 0
        transition: transform 0.2s

        &.-disabled
            transform: scale(0) translate(-69%, -50%)

        &:before
            background: $primary
            border: 4px solid $primary
            box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15)
            box-sizing: border-box
            content: ''
            height: 96px
            left: 50%
            position: absolute
            top: 50%
            transform: translate(-50%, -50%) rotate(45deg)
            width: 96px
            z-index: 1

    &__content
        color: $white
        display: block
        font: 1.5rem/1.1em $fontOswald
        letter-spacing: 1.5px
        max-width: 96px
        min-width: 72px
        opacity: 1
        position: relative
        text-align: center
        text-transform: uppercase
        z-index: 2
    &__plus
        height: 2.7rem
        transform: translateX(-50%)
        width: 2.7rem

.image-map
    height: 100%
    max-width: none
    transform: translateX(0)
    opacity: .90

.panel-button
    background: $lighterSecondary
    border: 0
    cursor: pointer
    display: block
    font: 400 1.1rem/1.5em $fontOswald
    height: 3.2rem
    letter-spacing: 1.5px
    margin-bottom: 0.1rem
    transition: right .3s ease-out
    text-transform: uppercase
    width: 8.1rem

    &:active,
    &:focus
        outline: 0

    &.-active
        right: 28.5rem
        &:after
            opacity: 1

        & ^[0]__label.-open
            visibility: hidden

        & ^[0]__label.-close
            visibility: visible

    &:after
        background: transparent
        content: ''
        height: 100%
        opacity: 0
        position: absolute
        right: -0.1rem
        top: 0
        width: 0.1rem

    &__label
        display: block
        left: 0
        position: absolute
        top: 50%
        transform: translateY(-50%)
        width: 100%

        &.-open
            visibility: visible

        &.-close
            visibility: hidden

.menu-categories
    bottom: 0
    height: 6.5rem
    left: 16px
    overflow: hidden
    position: fixed
    right: 16px
    white-space: nowrap
    z-index: 9999;
    background-color: #fffbf5

    &__inner,
    &__group,
    &__button,
    &__link
        height: 100%

    &__group
        display: inline-block
        position: relative
        vertical-align: top

        &:first-child
            padding-right: 3rem

        &:last-child
            padding-left: 3rem

            &:before
                background: $gray
                content: ''
                height: 0.9rem
                left: 0
                position: absolute
                top: 50%
                transform: translate(-50%, -50%)
                width: 0.1rem

    &__button,
    &__link
        color: $black
        font-family: $fontOswald
        font-size: 1.3rem
        letter-spacing: 1.5px
        padding: 0 1.5rem
        text-transform: uppercase

    &__button
        buttonReset()
        display: inline-block
        line-height: 4.3
        position: relative

        &:focus,
        &:hover
            color: $lightGray

        &.-active
            color: $black

            &:before
                background: $accent2Buttons
                content: ''
                height: 0.4rem
                left: 0
                position: absolute
                right: 0
                top: -0.2rem

    &__link
        display: inline-block
        height: 100%
        padding-top: 1.6rem

        &:focus,
        &:hover
            color: $lightGray
            text-decoration: none

        &:last-child
            padding-right: 4.8rem

        &:after
            content: ''
            height: 0
            border-color: transparent transparent $accent2 transparent
            border-style: solid
            border-width: 0 0 4px 4px
            position: relative
            top: -0.8rem
            width: 0
    &:after
        background-image: url('/assets/img/arrow-overlay.png')
        background-position: 0 19px
        background-repeat: no-repeat
        content: ''
        display: block
        height: 100%
        padding-right: 0
        position: absolute
        right: 0
        top: -15%
        width: 6.5rem

@media screen and (min-width: 768px)
    .menu-categories
        &:after
            display: none
        &__link
            &:last-child
                padding-right: 1.5rem

.side-panels
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    overflow: hidden

.side-panel
    background-image: url('/assets/img/menu-panel-bg.png')
    background-color: $lighterSecondary
    background-position: 0 7rem /*15.4rem*/
    background-repeat: no-repeat
    background-size: auto 49.1rem
    bottom: 0
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23)
    height: calc(100vh - 4rem)
    max-width: 28.5rem
    overflow-y: scroll
    padding: 4.3rem 3.7rem
    position: absolute
    right: 1.6rem
    top: 4rem
    transform: translateX(1.6rem)
    transition: box-shadow 0.3s linear,
                transform 0.3s ease-out
    width: calc(100vw - 11.3rem)
    z-index: 4

    &.-info
        background-position: 0 10rem

    &:after
        background: $lighterSecondary
        content: ''
        cover()
        transition: opacity 0.3s ease-in 0.2s
        opacity: 0

    &.-disabled
        border-left-width: 1.6rem
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0)
        transform: translateX(100%)
        transition: box-shadow 0.3s linear,
                    transform 0.3s ease-out,
                    z-index 0s linear 0.3s
        transition-timing-function: ease-in-out
        z-index: 3

        &:after
            opacity: 1
            transition: opacity 0 linear 0.35s

    &.-list
        text-align: center

    &__button
        right: 1.2rem
        position: absolute
        top: 12rem
        z-index: 1

        &.-info
            top: 15.3rem

.menu-items,
.menu-category-info
    &.-disabled
        display: none

    &__heading
        font: 400 3.2rem/1.25em $fontOswald
        margin-bottom: 3.3rem
        text-transform: uppercase

    &__item,
    &__content
        color: $gray
        font: 400 1.5rem/1em $baseFont
        letter-spacing: 0.3px

.menu-items
    &__list
        list-style: none

    &__item
        spaced(1.7rem)

.menu-category-info
    &__content
        line-height: 1.6em





/*------------------------------------*\
    # Desktop Small
\*------------------------------------*/

@media $desktop1
    .viewport-instructions
        background: rgba(0, 0, 0, 0.8)
        border-radius: 10rem
        bottom: 3.5rem
        left: 50%
        padding: 1.6rem 2.2rem
        position: absolute
        top: auto
        transform: translateX(-50%)
        text-transform: uppercase
        userSelect()

        &:before
            content: none

        &__mobile
            display: none

        &__desktop
            display: block

    .viewport-button
        display: block

    .image-maps
        height: calc(100vh - 8.9rem)

    .menu-categories
        height: 5.7rem
        overflow: visible
        text-align: center

        &__button
            padding: 0 3rem

            &.-active
                background: $white
                color: $white

                &:before
                    content: none

                &:after
                    background: $primary
                    bottom: 0
                    content: ''
                    height: 100%
                    left: 0
                    position: absolute
                    right: 0
                    top: 0
                    transform: skewX(-10deg)
                    width: 100%
                    z-index: 0

        &__button-label
            position: relative
            z-index: 1

            &:before,
            &:after
                background: $white
                content: ''
                display: block
                height: 0.4rem
                left: -1.4rem
                position: absolute
                top: 50%
                transform: rotate(45deg) translateY(-50%)
                width: 0.4rem

            &:after
                left: auto
                right: -1rem

    .side-panel
        height: calc(100vh - 3.2rem)
        padding-top: 10.7rem
        top: 3.2rem

        &__button
            height: 6.4rem
            left: auto
            top: 12rem
            width: 8.6rem
            right: 1.2rem
            z-index: 1

            &.-info
                top: 18.5rem

    .panel-button
        height: 6.4rem
        width: 8.6rem
        &.-list,
        &.-info
            &:before
                display: block
                font: 1.9rem $fontIcon
                left: 50%
                margin-bottom: 0.8rem
                position: absolute
                top: 1.2rem
                transform: translateX(-50%)
        &.-list:before
            content: $iconPage
        &.-info:before
            content: $iconInfo
        &.-active
            &:before
                content: $iconX
                font-size: 1.4rem
                top: 1.8rem
        &__label
            bottom: 0.9rem
            top: auto
            transform: none

.image-map
    opacity: 1
    transition: opacity 0.3s
img[data-src]
    opacity: 0

@supports (-ms-ime-align: auto)
    .menu-items
        padding-bottom: 5rem

@-moz-document url-prefix()
    .menu-items
        padding-bottom: 5rem

.menu-directory
    background-position: center center
    background-size: cover
    margin : 0

    &__inner
        background: rgba(0,0,0,.5)
        color: $white
        padding: 5rem 0
        width: 100%
        height: 100%

    &__title
        font-size: 4.8rem
        font-weight: 600
        letter-spacing: 2.5px
        line-height: 4.8rem
        spaced(1.9rem)
        color: $white
        text-align: center
        margin-top: 1.5rem

    &__lead
        letter-spacing: 0.3px
        font-size: 2.4rem
        line-height: 2.8rem
        spaced(2.6rem)
        text-align: center
        width: 50%
        margin-left: auto
        margin-right: auto
        display: none

    &__list
        list-style: none
        overflow: hidden

        li
            width: 100%
            float: left
            font-size: 2rem
            font-weight: 500
            text-align: center

    &__col
        width: 100%
        text-align: center

    &__cta
        background: $primary
        color: $white
        font: 1.3rem/1.5 $fontOswald
        letter-spacing: 1.5px
        padding: 0.9rem 1.8rem 1.1rem
        text-transform: uppercase

        &:focus,
        &:hover
            background: mix($primary, $black, 90%)
            color: $white
            text-decoration: none

        &:after
            display: inline-block
            font-size: 2.4rem
            icon($iconArrow)
            margin-left: 1.3rem
            position: relative
            top: 0.1rem
            transform: rotate(-90deg)

@media $tablet
    .menu-directory
        &__inner
            padding: 5rem 10rem
            background-clip: content-box, padding-box

        &__lead
            display: block

        &__list
            li
                width: 50%

@media $desktop1
    .menu-directory
        &__list
            li
                width: 33%