body
    -webkit-font-smoothing: antialiased
p
    margin-bottom: $baseLineHeight

h1,
.t-heading-one
    color: $darkGray
    font-family: $fontOswald, Helvetica, sans-serif
    font-size: 4.8rem
    letter-spacing: 0.5rem
    line-height: 1
    text-transform: uppercase

h2,
.t-heading-two
    color: $black
    font-family: $fontOswald, Helvetica, sans-serif
    font-size: 3.2rem
    letter-spacing: 2.5px
    line-height: 1.5
    text-transform: uppercase
h3,
.t-heading-three
    color: $darkGray
    display: block
    font-size: 3.2rem
    line-height: 1
    margin-bottom: 4.8rem
    text-align: center
    text-transform: uppercase

h5,
.t-heading-five
    color: #141415
    font-familY: $fontOswald, Helvetica, sans-serif
    font-size: 1.5rem
    letter-spacing: 1.5px
    line-height: 1
    text-transform: uppercase

h6,
.t-heading-six
    color: #141415
    font-familY: $fontOswald, Helvetica, sans-serif
    font-size: 1.1rem
    letter-spacing: 1.5px
    line-height: 1.6
    text-transform: uppercase

.t-style-one
    color: $darkGray
    font-family: $fontOswald, Helvetica, sans-serif
    font-size: 2rem
    font-weight: 400
    letter-spacing: 1.5px
    line-height: 1.2
    text-transform: uppercase
.t-lead-text
    color: $gray
    font-size: 2rem
    font-weight: 400
    line-height: 1.2

.t-white
    color: $white
.t-light-gray
    color: $lightGray !important
.t-align-left
    text-align: left
.t-align-center
    text-align: center
.t-align-right
    text-align: right
