/*------------------------------------*\
	# Layout
\*------------------------------------*/

$maxWidth = 1600px
$bumperPadding = 6%


/*------------------------------------*\
	# Colors
\*------------------------------------*/

$primary = #6E181E

$lighterSecondary = #FFFBF5
$lightSecondary = #E4DCD0
$secondary = #A85B39
$darkSecondary = #63361C

$accent1 = #16546B
$accent2 = #D29136
$accent2Buttons = #754F1A

$error = #972129


/*------------------------------------*\
	# Grayscale
\*------------------------------------*/

$white = #ffffff
// $lightestGray = darken($white, 4%)
$lighterGray = #EFECE9
$lightGray = #8C908E
$gray = #3A4038
$darkGray = #000504
$darkerGray = darken($white, 65%)
// $darkestGray = darken($white, 75%)
$black = #000000


/*------------------------------------*\
	# Base
\*------------------------------------*/

$baseColor = $darkerGray
$baseFont = 'Futura PT', 'futura-pt', Helvetica, sans-serif
$baseFontSize = 1.6rem
$baseFontWeight = normal
$baseLineHeight = 1.5em

$bodyBackground = $lighterSecondary


/*------------------------------------*\
	# Links
\*------------------------------------*/

$linkColor = $primary
$linkColorHover = lighten($primary, 10%)
$linkColorActive = darken($primary, 20%)

$linkDecoration = none
$linkDecorationHover = underline


/*------------------------------------*\
	# Headings
\*------------------------------------*/

$headingColor = $baseColor
$headingFont = $baseFont
$headingFontWeight = $baseFontWeight
$headingLineHeight = $baseLineHeight


/*------------------------------------*\
	# Variables
\*------------------------------------*/

$retinaSuffix = '-2x'
$smallFontSize = 0.8rem


/*------------------------------------*\
	# Buttons
\*------------------------------------*/

$buttonColor = $white
$buttonFont = $fontOswald
$buttonFontSize = $baseFontSize
$buttonFontWeight = 400

$buttonBackground = $primary
$buttonBackgroundHover = lighten($primary, 10%)
$buttonBackgroundActive = darken($primary, 20%)

$buttonMarginBottom = ($baseLineHeight * 10)px;

$buttonPaddingHorizontal = 1.5rem
$buttonPaddingVertical = 1.5rem

$buttonRounded = 0px


/*------------------------------------*\
	# Breakpoints
\*------------------------------------*/

$mobile2 = '(min-width: 455px)'
$tablet = '(min-width: 743px)'
$desktop1 = '(min-width: 999px)'
$desktop2 = '(min-width: 1255px)'
$desktop3 = '(min-width: 1415px)'


/*------------------------------------*\
	# Grids
\*------------------------------------*/

$gridSpacing = 1.8rem


/*------------------------------------*\
	# Assets
\*------------------------------------*/

$imgPath = '/assets/img/'


/*------------------------------------*\
	# Fonts
\*------------------------------------*/

$fontOswald = 'Oswald'
$fontIcon = 'fontello'


/*------------------------------------*\
	# Icons
\*------------------------------------*/

$iconTwitter = '\e800'
$iconFacebook = '\e801'
$iconInstagram = '\e802'
$iconPinterest = '\e803'
$iconCart = '\e804'
$iconDivider = '\e805'
$iconTexas = '\e806'
$iconInfo = '\e807'
$iconPage = '\e808'
$iconX = '\e809'
$iconSwipe = '\e80a'
$iconPlus = '\e80b'
$iconArrow = '\e80c'
$iconArrowBig = '\e80d'
$iconCalendar = '\e80e'
$iconMegaphone = '\e80f'
$iconPercent = '\e810'
$iconReset = '\e811'
$iconSearch = '\e812'
$iconCheck = '\e814'
$iconLock = '\e815'
